html{
    background-color: cornsilk;
    
}

body{
     font-family: "Mooli", Courier, Helvetica, Arial, sans-serif;
    font-size: 100%;
        color: hotpink;
     text-shadow: 2px 2px 2px purple;
}
h1{
    text-align: center;
font-size: 800%;
}
h2{
    text-align: center;
    font-size: 400%;
    
}
img{
}
table{
    color: black;
    text-align: center;
}
footer{
    font-size: 100%;
    text-align: center;
}
a {font-weight: bold;}
a:link {color: #6019E5;}
a:visited{ color:#1FEAEA;}
a:hover, a:focus {color: deeppink;}